.mat-tree-node {
  min-height: 40px !important;
}


.red-icon {
  color: red;
}

.accent-link {
  color: blue;
  border-bottom-width: 1px;
  border-bottom: dashed;
  border-bottom-color: palevioletred;
}

.background-highlight {
  background-color: purple;
  color: white;
}
