.flex-container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: wrap;  
}

.flex-item {
  background: tomato;
}

.app-content {
  margin-top: 30px; // Space for title bar
  height: calc(100vh - 30px); // Imposta l'altezza per occupare tutto lo spazio disponibile
  display: flex;
  flex-direction: column;
}

