

<mat-sidenav-container autosize class="app-sidenav-container">

  <mat-sidenav #sidenav [style.width]="sideNavWidth" class=" mat-elevation-z10"
               [opened]="!isScreenSmall"
               [mode]="!isScreenSmall ? 'side':'over'">

    <mat-toolbar color="primary">
      <div>
        <button mat-icon-button id="projectcss" matTooltip="projects list" (click)="openProject()">
          <mat-icon>ballot</mat-icon>
        </button>
        <!--<button mat-icon-button>
          <mat-icon>developer_board</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>rule</mat-icon>
        </button>-->
      </div>
      {{titleProject}}
    </mat-toolbar>
    <mat-tab-group headerPosition="below" style="justify-content: space-between; height: calc(100% - 64px);">
      <mat-tab label="Project docs">
        <app-md-tree></app-md-tree>
      </mat-tab>      
      <mat-tab *ngIf="currentBranch != null">
        <ng-template mat-tab-label>
          <img src="/assets/gitlogo.png" />
          <span>Git CI/CD</span>
        </ng-template>
        <app-git-changes></app-git-changes>
      </mat-tab>
    </mat-tab-group>

  </mat-sidenav>

  <div class="flex-container">
    <div [ngClass]="classForBorderDiv" (pointerdown)="resizeWidth()" (mouseup)="stopResizeWidth()"></div>
    <div style="width:100%; height:100%;">
      <div class="app-sidenav-content" style="height:100%;">
        <app-toolbar [ngClass]="whatClass" (toggleSidenav)="sidenav.toggle()"></app-toolbar>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</mat-sidenav-container>
