

<!--<mat-form-field style="width:100%;"
                #gitChanges (click)="setSelectPosition()"
                appearance="fill"
                class="specialForm">
  <mat-label>Current branch</mat-label>
  <div style="white-space:nowrap">
    <input matInput value="selected item" readonly />
    <mat-icon style="display: inline; cursor: pointer;">keyboard_arrow_down</mat-icon>
  </div>

</mat-form-field>-->


<div style="width:100%;" #gitChanges (click)="setSelectPosition()"  >
  <mat-label>Current branch</mat-label>
  <div style="white-space:nowrap; width:100%;">
    <input value="selected item" style="width:calc(100% - 32px);cursor:pointer; border:none;" readonly  />
    <mat-icon style="display: inline; position:relative; top:5px; cursor: pointer;">keyboard_arrow_down</mat-icon>
  </div>
</div>

<div style="visibility:hidden; width:calc(100% - 10px); border:solid; border-width:1px;"
     [style.visibility]="selectPosition.visibility"
     [style.left.px]="selectPosition.x"
     [style.top.px]="selectPosition.y">
  <input placeholder="Filter branches" style="width:calc(100% - 10px);" #searchedBranch>
  <button (click)="doSearch(searchedBranch.value)" value="search"></button>
  <ng-content></ng-content>
</div>

