<h1>Open recent</h1>
<mat-card *ngFor="let element of dataSource | async">
  <mat-card-title>{{element.name}}</mat-card-title>
  <mat-card-subtitle>{{element.path}}</mat-card-subtitle>
  <mat-card-actions>
    <button mat-stroked-button color="accent" (click)="quickOpenNotes(element.path)">
      <img src="/assets/run.png" />
      Quick notes
    </button>
    <button mat-stroked-button color="primary" (click)="openNewProject(element.path)">Open</button>
    <button mat-raised-button color="warn" (click)="deleteProject(element)"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>
