body {
    background-color: #FFF;        
}


.toc {
    user-select: none;
    background-color: rgba(255,255,255,0.9);
    transform: translateX(0)
}

a.toc-link {
    text-decoration: none
}

.hljs {
    display: block;
    background: white;
    padding: 0.5em;
    color: #333333;
    overflow-x: auto
}

.hljs-addition {
    color: #55a532;
    background-color: #eaffea
}

.hljs-deletion {
    color: #bd2c00;
    background-color: #ffecec
}