div .warning p em {
    background-color:palegoldenrod
}

/*li.sortableClass {
    cursor: pointer;
}*/


/*This part is to manage resizable images*/

img.overrideImgFluid {
    max-width: none !important;
    width: 100%;
    height: 100%;
}


.resizable {
    border:1px solid black;
    display: inline-block;
    background: white;
    resize: both;
    overflow: hidden !important;
    line-height: 0;
}

.resizable img {
    width: 100%;
    height: 100%;
}

.defaultImg {
    width:300px;
    height:200px;
}

.s1 {
    height: auto;
    border: 1px dotted blue;
    margin: 5px 0 5px 0;
}
.s2 {
    height: auto;
    border: 1px dotted red;
    margin: 5px 0 5px 0;
}

.row [class*='col-'] {
    transition: all 0.5s ease-in-out;
}

.img-wrapper {
    position: relative;
    width: auto;
}

.img-responsive {
    width: auto;
    height: auto;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 05%;
}