<h2 mat-dialog-title>{{ 'BULK_EXPORT.TITLE' | translate }}</h2>

<mat-dialog-content>
  <div class="progress-container">

    <div class="directory-info">
      <mat-icon>folder</mat-icon>
      <span class="directory-path">{{ data.directory }}</span>
    </div>

    <div class="status-container">
      <div class="status-text">
        <mat-icon class="rotating" *ngIf="!isCompleted">autorenew</mat-icon>
        <mat-icon *ngIf="isCompleted" color="primary">check_circle</mat-icon>
        <span *ngIf="!isCompleted">{{ 'BULK_EXPORT.EXPORTING' | translate }}</span>
        <span *ngIf="isCompleted">{{ 'BULK_EXPORT.EXPORT_COMPLETE' | translate }}</span>
      </div>
    </div>

    <div class="progress-info">
      <div class="progress-numbers">
        <span>{{ 'BULK_EXPORT.DOCS_EXPORTED' | translate:{ processed: data.processed, total: data.total } }}</span>
        <span class="percentage">{{ data.percentComplete }}%</span>
      </div>

      <mat-progress-bar
        mode="determinate"
        [value]="data.percentComplete"
        color="primary">
      </mat-progress-bar>
    </div>

    <div class="current-file" *ngIf="data.currentFile && !isCompleted">
      <mat-icon>description</mat-icon>
      <span class="file-name">{{ data.currentFile }}</span>
    </div>

    <div class="error-info" *ngIf="data.failed > 0">
      <mat-icon>error</mat-icon>
      <span>{{ 'BULK_EXPORT.FILES_FAILED' | translate:{ count: data.failed } }}</span>
    </div>

    <div class="export-info">
      <mat-icon>info</mat-icon>
      <span>{{ 'BULK_EXPORT.EXPORT_INFO' | translate }}</span>
    </div>

  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="openFolder()" *ngIf="isCompleted" color="primary">
    <mat-icon>folder_open</mat-icon>
    {{ 'BULK_EXPORT.OPEN_FOLDER' | translate }}
  </button>
  <button mat-button (click)="close()" [disabled]="!isCompleted">
    {{ 'COMMON.CLOSE' | translate }}
  </button>
</mat-dialog-actions>
