/* Roboto Font - Local Hosting */

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./roboto/roboto-v30-latin-300.woff2') format('woff2');
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./roboto/roboto-v30-latin-regular.woff2') format('woff2');
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./roboto/roboto-v30-latin-500.woff2') format('woff2');
}

/* Set Roboto as default font */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}