<h2 mat-dialog-title>{{ 'PROJECT_CONFIG.TITLE' | translate }}</h2>

<mat-dialog-content>
  <div class="config-container">
    <div class="project-path">
      <mat-icon>folder</mat-icon>
      <strong>{{ 'PROJECT_CONFIG.PROJECT_PATH' | translate }}</strong>
      <span class="path-text">{{ config.projectPath }}</span>
    </div>

    <mat-divider></mat-divider>

    <div class="config-options">
      <div class="option-item">
        <mat-checkbox [(ngModel)]="config.addCopilotInstructions" color="primary">
          <strong>{{ 'PROJECT_CONFIG.ADD_COPILOT' | translate }}</strong>
          <div class="option-description">
            {{ 'PROJECT_CONFIG.ADD_COPILOT_DESC' | translate }}
          </div>
        </mat-checkbox>
      </div>

      <div class="option-item">
        <mat-checkbox [(ngModel)]="config.initializeGit" color="primary">
          <strong>{{ 'PROJECT_CONFIG.INIT_GIT' | translate }}</strong>
          <div class="option-description">
            {{ 'PROJECT_CONFIG.INIT_GIT_DESC' | translate }}
          </div>
        </mat-checkbox>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ 'COMMON.CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" (click)="onCreateProject()">
    <mat-icon>add</mat-icon>
    {{ 'PROJECT_CONFIG.CREATE_PROJECT' | translate }}
  </button>
</mat-dialog-actions>
