<div mat-dialog-title>
  Run {{ data.language }} command
</div>

<mat-dialog-content>
  <div *ngIf="data.needsTrust" class="trust-banner">
    <mat-icon>warning</mat-icon>
    <div class="trust-text">
      <div class="trust-title">First run in this project</div>
      <div class="trust-body">
        Executing will run arbitrary commands on your machine, in the project folder.
        Only enable this for projects you trust.
      </div>
      <mat-checkbox [(ngModel)]="trustProject" color="primary" class="trust-checkbox">
        Enable execution in this project
      </mat-checkbox>
    </div>
  </div>

  <div *ngIf="data.params?.length" class="params-section">
    <div class="section-label">Parameters</div>
    <div *ngFor="let p of data.params" class="param-row">
      <!-- Explicit caption above the control: a floating mat-label sits inside the field
           and blurs into the value (and is nearly invisible in dark theme). -->
      <label class="param-caption" [attr.for]="'mde-param-' + p.name">
        <span class="param-caption-name">{{ p.name }}</span>
        <span class="param-caption-desc" *ngIf="p.description">{{ p.description }}</span>
      </label>
      <mat-form-field appearance="outline" class="param-field">
        <mat-select *ngIf="p.options?.length"
                    [id]="'mde-param-' + p.name"
                    [(ngModel)]="values[p.name]">
          <mat-option *ngFor="let o of p.options" [value]="o">{{ o }}</mat-option>
        </mat-select>
        <input *ngIf="!p.options?.length" matInput
               [id]="'mde-param-' + p.name"
               [type]="p.isSecret && !showSecret[p.name] ? 'password' : 'text'"
               [(ngModel)]="values[p.name]">
        <button *ngIf="p.isSecret && !p.options?.length" mat-icon-button matSuffix (click)="toggleSecret(p.name)"
                type="button" tabindex="-1" aria-label="Toggle visibility">
          <mat-icon>{{ showSecret[p.name] ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div class="preview-section">
    <div class="section-label">Script</div>
    <pre class="preview-code">{{ data.code }}</pre>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="run()" [disabled]="!canRun()">
    <mat-icon>play_arrow</mat-icon>
    <span *ngIf="data.needsTrust">Enable &amp; Run</span>
    <span *ngIf="!data.needsTrust">Run</span>
  </button>
</mat-dialog-actions>
