.container-flex {
  display: flex;
  flex-direction: column;  
  align-content:center;
}

.container-title {
  display: flex;
  justify-content: center;
}

.container-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-first-column {
  display: flex;
  flex-direction: column;    
  row-gap: 10px;
  column-gap: 20px;
}

.build-info {
  margin: 5px 0 0 0;
  font-size: 0.85rem;
  color: #666;
  font-style: italic;
  text-align: center;
}
