.container-flex {
  display: flex;
  flex-direction: column;  
  align-content:center;
}

.container-title {
  display: flex;
  justify-content: center;
}

.container-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-first-column {
  display: flex;
  flex-direction: column;    
  row-gap: 10px;
  column-gap: 20px;
}
