<mat-dialog-content>
  <h3><strong>New markdown</strong></h3>
  <div class="simple-container">
    <mat-form-field appearance="outline">
      <mat-label>Document's title</mat-label>
      <input matInput [(ngModel)]="markdownTitle" (keyup.enter)="save()" placeholder="Title">
      <mat-hint>Set the title's document</mat-hint>
    </mat-form-field>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">
    <mat-icon>save</mat-icon>Save
  </button>
  <button mat-button color="primary" (click)="dismiss()">
    <mat-icon>cancel</mat-icon>Cancel
  </button>
</mat-dialog-actions>


<mat-tab-group headerPosition="below" style="justify-content: space-between; height: calc(100%);">
  <mat-tab label="Documents">
    <label id="plantuml-radio-group-label">Select document template</label>
    <mat-radio-group aria-labelledby="plantuml-radio-group-label"
                     class="plantuml-radio-group"
                     [(ngModel)]="selectedPlantumlTemplate">
      <mat-radio-button class="plantuml-list-radio-button"
                        *ngFor="let plantumlTemplate of plantumlTemplates" [value]="plantumlTemplate">
        {{plantumlTemplate.name}}
      </mat-radio-button>
    </mat-radio-group>
    <div>Template: {{selectedPlantumlTemplate.name}}</div>
  </mat-tab>
  <mat-tab label="Presentation">
    <label id="slide-radio-group-label">Select document template</label>
    <mat-radio-group aria-labelledby="slide-radio-group-label"
                     class="slide-radio-group"
                     [(ngModel)]="selectedSlideTemplate">
      <mat-radio-button class="plantuml-list-radio-button"
                        *ngFor="let slideTemplate of slideTemplates" [value]="slideTemplate">
        {{slideTemplate.name}}
      </mat-radio-button>
    </mat-radio-group>
    <div>Template: {{selectedSlideTemplate.name}}</div>
  </mat-tab>
</mat-tab-group>
