<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpF17944185780ADFE036E272DA1E890A5" Guid="*">
                <File Id="filC5D1DC804CCA610081C995B091F7F7E0" KeyPath="yes" Source="$(var.HarvestPath)\Ad.Tools.Dal.Abstractions.pdb" />
            </Component>
            <Component Id="cmp53279A98F864C074DC9B130B941D4F55" Guid="*">
                <File Id="filF87CC176A32C3CA167279D817EB0216D" KeyPath="yes" Source="$(var.HarvestPath)\Ad.Tools.Dal.pdb" />
            </Component>
            <Component Id="cmp9C00A521627877E6D767443FDCE9AA53" Guid="*">
                <File Id="fil6306907138CC68F4F6C2F455EC62AC51" KeyPath="yes" Source="$(var.HarvestPath)\Ad.Tools.FluentMigrator.pdb" />
            </Component>
            <Component Id="cmpA0863526952F7834E7C922F065E4C8A8" Guid="*">
                <File Id="filC04B02D0CCC2D5CCC1013B35DE86DB29" KeyPath="yes" Source="$(var.HarvestPath)\appsettings.Development.json" />
            </Component>
            <Component Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" Guid="*">
                <File Id="fil840B80AC19861C7F9F04FBDCFAE331CE" KeyPath="yes" Source="$(var.HarvestPath)\appsettings.json" />
            </Component>
            <Component Id="cmp3F1A8ED120366E8991F256C74C5C6361" Guid="*">
                <File Id="fil720576DC57D586753EB5370E945635AC" KeyPath="yes" Source="$(var.HarvestPath)\MdExplorer.Abstractions.pdb" />
            </Component>
            <Component Id="cmpCF90702DB6BD5D0BCBE864804278C36B" Guid="*">
                <File Id="fil4C54883BCB2BB3C81B8991A57B37B105" KeyPath="yes" Source="$(var.HarvestPath)\MdExplorer.DataAccess.Engine.pdb" />
            </Component>
            <Component Id="cmp4F241916C32EC6A1E970595E25671525" Guid="*">
                <File Id="fil2EF834CA477DB853847F0E790C4D00BE" KeyPath="yes" Source="$(var.HarvestPath)\MDExplorer.DataAccess.pdb" />
            </Component>
            <Component Id="cmp38BBDC48CA4A8A258B36C6163AFFF796" Guid="*">
                <File Id="fil5B37621DB9FD3D65FBB433B596E07F8B" KeyPath="yes" Source="$(var.HarvestPath)\MdExplorer.Features.pdb" />
            </Component>
            <Component Id="cmpD238E089839EB6449C051D7E7CEE972F" Guid="*">
                <File Id="fil4C610E9EE9C7205BBC58D6ADC65A8D4B" KeyPath="yes" Source="$(var.HarvestPath)\MdExplorer.Migrations.EngineDb.pdb" />
            </Component>
            <Component Id="cmpCB91023A7FED7925C79109BD3B8D51F5" Guid="*">
                <File Id="fil0D18AE9F1548ED0718630F811F320779" KeyPath="yes" Source="$(var.HarvestPath)\MdExplorer.Migrations.pdb" />
            </Component>
            <Component Id="cmp548E1D149E3735784000308E747E507F" Guid="*">
                <File Id="fil2417DE40106DDE0B1C533DC787A60F98" KeyPath="yes" Source="$(var.HarvestPath)\MdExplorer.Service.exe" />
            </Component>
            <Component Id="cmpD71BBAC84D48FE0434198573578E243E" Guid="*">
                <File Id="filC23656940DA30B1176DE1B92AFF5AC37" KeyPath="yes" Source="$(var.HarvestPath)\package-lock.json" />
            </Component>
            <Component Id="cmpB139B49DF4DF8F44C525B449EA8187F7" Guid="*">
                <File Id="filE7A3E65CC622C2E3B9B57707B12C9645" KeyPath="yes" Source="$(var.HarvestPath)\web.config" />
            </Component>
            <Directory Id="dir99DF51DDB6E3B71BF0E1FF61B8B48844" Name="client2">
                <Component Id="cmp76FA3D9BAF4EB6F6349CF163E7D572E3" Guid="*">
                    <File Id="fil4425741FC68973FCD4A1EFDEDE320EAB" KeyPath="yes" Source="$(var.HarvestPath)\client2\angular.json" />
                </Component>
                <Component Id="cmp2B811053B5AE4B88DEFFD5B5A76B4D07" Guid="*">
                    <File Id="fil1B0B9231DBCEC37A673D95E51EF1D20F" KeyPath="yes" Source="$(var.HarvestPath)\client2\package-lock.json" />
                </Component>
                <Component Id="cmpCFC07250170E75B593412650F8C5C349" Guid="*">
                    <File Id="fil7B76A782C01FC70300A1EFE72668B375" KeyPath="yes" Source="$(var.HarvestPath)\client2\package.json" />
                </Component>
                <Component Id="cmp6024709601757BCCAD7691A230EFFD3F" Guid="*">
                    <File Id="filBEF1E9ADFA08864970EADBB936842B6B" KeyPath="yes" Source="$(var.HarvestPath)\client2\tsconfig.app.json" />
                </Component>
                <Component Id="cmp44FF64DDE6E9C9E771266002FD0AF841" Guid="*">
                    <File Id="filF883D208E9ED7891EB73F171C7776FB7" KeyPath="yes" Source="$(var.HarvestPath)\client2\tsconfig.json" />
                </Component>
                <Component Id="cmpA964A847AD6177F00FFB96B8E1AFD3DE" Guid="*">
                    <File Id="fil61D71CA9769F25BF961EEA7B871D88AA" KeyPath="yes" Source="$(var.HarvestPath)\client2\tsconfig.spec.json" />
                </Component>
                <Component Id="cmpFFC59F91BA2A40263777A08887C4DE28" Guid="*">
                    <File Id="fil45B8FE3F6D449AA0D8AE01DD27E81508" KeyPath="yes" Source="$(var.HarvestPath)\client2\tslint.json" />
                </Component>
                <Directory Id="dirC2BC72E86E2ABCE8B5052E0587605E19" Name="e2e">
                    <Component Id="cmp419937E1F1A4AD6EBAD761C73BBB9BBB" Guid="*">
                        <File Id="fil51DE4E2835E910F4AABEF99EBF2B9082" KeyPath="yes" Source="$(var.HarvestPath)\client2\e2e\tsconfig.json" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir3D83A529A2122889D4016E7D784625D5" Name="wwwroot">
                <Directory Id="dir89EB03C3EAD84D074D9B56E6D99D0A33" Name="assets">
                    <Component Id="cmpBE3CE7E96B2456821FF2FFE3ECF8E561" Guid="*">
                        <File Id="fil4F6D7FD1C8DF5FF3A181F8C33604CF14" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\assets\IconReady (2).png" />
                    </Component>
                    <Component Id="cmpC97E830794BEEB3D44C72280C3895AB1" Guid="*">
                        <File Id="filBF29BEF588DE14A43B19F6E04D5CFE16" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\assets\MdExplorer.svg" />
                    </Component>
                </Directory>
                <Directory Id="dir9DB0C933DBAB46A88446AF2A362B5184" Name="bootstrap">
                    <Directory Id="dir56D65DC2C136DF89BC3A8E72F09D1776" Name="css">
                        <Component Id="cmpE0C2BDEC541FAF8309914CE1CD170B66" Guid="*">
                            <File Id="filC153DFFA34EEA728DBADC8F0BCD15196" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap\css\bootstrap-grid.rtl.min.css.map" />
                        </Component>
                        <Component Id="cmp3364EB13B9679EA18EDFF2F5644BF597" Guid="*">
                            <File Id="fil2FBE75A9F1E3928C671F9400F586BF23" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap\css\bootstrap-reboot.rtl.min.css.map" />
                        </Component>
                        <Component Id="cmpF1CFB70E3B005F98FF63B67A795EFEDD" Guid="*">
                            <File Id="filEF397C948214CF07A114D4F653FFE6F0" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap\css\bootstrap-utilities.rtl.min.css.map" />
                        </Component>
                        <Component Id="cmp5F0315EC9318F895F1C69AADD6AEEDCF" Guid="*">
                            <File Id="filEE6562A375D963F47DBFFC0AC043AFCA" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap\css\bootstrap.rtl.min.css.map" />
                        </Component>
                    </Directory>
                    <Directory Id="dir025888A4E3BB11BDEA12C8DB0EDC87B8" Name="js">
                        <Component Id="cmp336BF8B3ED276F8A9062A1E8CB2D8E43" Guid="*">
                            <File Id="fil6FDA4F38575C8E9DD3738C6302F95882" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap\js\bootstrap.bundle.min.js" />
                        </Component>
                        <Component Id="cmpEFF9F1E875BF6E848A4A965734BFAC4B" Guid="*">
                            <File Id="filCF5849069905135B23DF370174B143A4" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap\js\bootstrap.bundle.min.js.map" />
                        </Component>
                        <Component Id="cmp73E87678832BDCC67A6071149899D291" Guid="*">
                            <File Id="fil9EE4DA6724CF1F00978EFC802C4B012B" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap\js\bootstrap.esm.js.map" />
                        </Component>
                        <Component Id="cmp670A53C4BB92522E9197C39F2737FDD0" Guid="*">
                            <File Id="fil898C846823C6D896640967F7CE96E19C" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap\js\bootstrap.esm.min.js" />
                        </Component>
                        <Component Id="cmp82CAE7B335B9F599FEE57577F9A372EF" Guid="*">
                            <File Id="fil495D30F0FFAC0C54EA8FC60FE9791316" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap\js\bootstrap.esm.min.js.map" />
                        </Component>
                        <Component Id="cmp810D1EFFDA7DD88C8E90E1542AA6BAE2" Guid="*">
                            <File Id="fil9A0D50DA32DC3BE35500E9D6A79439EE" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap\js\bootstrap.min.js.map" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir4038BD407086220BCF5D9E2F25C78141" Name="bootstrap_datepicker">
                    <Directory Id="dirCF280D50618E2E583CDCC645E5482D29" Name="css">
                        <Component Id="cmp636FC9E2EF47D47393943C950A17662A" Guid="*">
                            <File Id="fil76A4C941B42F45A023235D401889867E" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\css\bootstrap-datepicker.css.map" />
                        </Component>
                        <Component Id="cmpFCE45893961C3B556093A13244DCAD25" Guid="*">
                            <File Id="filB03CE7B67127D7D4396856D8A2EFAD35" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\css\bootstrap-datepicker.standalone.css.map" />
                        </Component>
                        <Component Id="cmp605D6B6C48C394E4DB168D3F2B5E64B9" Guid="*">
                            <File Id="fil9F6B26FE7F62F47193F290755F957123" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\css\bootstrap-datepicker.standalone.min.css" />
                        </Component>
                        <Component Id="cmp407AC30A654585533F0D394AFDD4AB4B" Guid="*">
                            <File Id="filC722C0E7E6A85546D7E57532A2064078" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\css\bootstrap-datepicker3.css.map" />
                        </Component>
                        <Component Id="cmpA858F3E28742D18DE380C66A7FAD3FA5" Guid="*">
                            <File Id="fil6B1BC159F5E447AB6F832933F1BA4495" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\css\bootstrap-datepicker3.standalone.css.map" />
                        </Component>
                        <Component Id="cmp7E506DB75C10A260015520DD99B7EB7E" Guid="*">
                            <File Id="filD420666A0952D2D5157FE7549C9687E7" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\css\bootstrap-datepicker3.standalone.min.css" />
                        </Component>
                    </Directory>
                    <Directory Id="dir09E40882CC195D2734A933E24F9A938A" Name="locales">
                        <Component Id="cmp6FCD019A8D53BDACC4495018A02376F3" Guid="*">
                            <File Id="fil6607B911E57D42B56B5F054EC87A4F99" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker-en-CA.js" />
                        </Component>
                        <Component Id="cmp459B7DD14921AC5829974F4C859D2214" Guid="*">
                            <File Id="filA1CBED529896B754D13D22F52599E603" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.ar-DZ.js" />
                        </Component>
                        <Component Id="cmpD97C068A5768DEC983EA9FDBEF4DDDEF" Guid="*">
                            <File Id="fil0B6654C5ADDC3C3893861D63BE95FC34" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.ar-tn.js" />
                        </Component>
                        <Component Id="cmp4369B8D0AFBD7F73998E58276F4A68B9" Guid="*">
                            <File Id="fil9FC0BD4CE32B47FF57B54588E0682CED" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.ar.js" />
                        </Component>
                        <Component Id="cmpC1671F9D210FA71E2A7509FCAE5F1C0A" Guid="*">
                            <File Id="fil6C6E8C70EBD2AD02C3D25AD08F21180C" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.az.js" />
                        </Component>
                        <Component Id="cmpC3837B1BBDE21B30686E088D1C2CAE18" Guid="*">
                            <File Id="filF872FC0B9222309C335A4FFE0161EE94" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.bg.js" />
                        </Component>
                        <Component Id="cmp5ED1CD8E41E4D80454EAE105897331B8" Guid="*">
                            <File Id="filB545E3BB45D706D30D10598E07BBA130" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.bm.js" />
                        </Component>
                        <Component Id="cmpEC678DED6E8FAD7BDEFD8FAEF3DA3AE9" Guid="*">
                            <File Id="fil54A7B5E92DA0BDE1FC473E5F15E85A0A" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.bn.js" />
                        </Component>
                        <Component Id="cmp8853C1DD9B85957A8B8527EB369FA936" Guid="*">
                            <File Id="fil65565692D044916ED113C9232BC7D9B3" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.br.js" />
                        </Component>
                        <Component Id="cmp893D9F1E8CF2DA7D15E3B17502AA1115" Guid="*">
                            <File Id="fil399A4C2FB77F5FAAEA0E3B74E4A2E1DA" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.bs.js" />
                        </Component>
                        <Component Id="cmpAB39DC019BCEB121545396D46A90DCC3" Guid="*">
                            <File Id="fil4E83FE6BB3B61CF2CCD9466BB4C4F723" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.ca.js" />
                        </Component>
                        <Component Id="cmp7332CB96E66C7CD07CDFA8226579D819" Guid="*">
                            <File Id="fil7B411B1F8D265F3AC28964E467883F28" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.cs.js" />
                        </Component>
                        <Component Id="cmp3F2E14BF3858452E94EF0FD35144FC48" Guid="*">
                            <File Id="filC0E4F4E305BD1102DCD78A6BB3DDF8D5" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.cy.js" />
                        </Component>
                        <Component Id="cmpCC32EEBEEC9F81A11DC0295DB730C92F" Guid="*">
                            <File Id="fil1BB7DD6AFDCD0BD7AE71ACA4A8BBB7CD" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.da.js" />
                        </Component>
                        <Component Id="cmp4E2ACCBE2340727B58445C19184AA575" Guid="*">
                            <File Id="fil96C435DC4E42791CB0B9183715E4DF03" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.de.js" />
                        </Component>
                        <Component Id="cmpD1EE69F443E95B1E01255C602E6A94C7" Guid="*">
                            <File Id="fil38AEB3FD91CAA774B765FCF0E10B8FCA" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.el.js" />
                        </Component>
                        <Component Id="cmpD10D121F83E58BE0D45C6566CBCAA954" Guid="*">
                            <File Id="fil1940BB2964B81E875A56B1B975677509" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.en-AU.js" />
                        </Component>
                        <Component Id="cmpCA43DC4AF1DE16E3FACAD1CBC32EA5D3" Guid="*">
                            <File Id="filD44AABE30634DFE8711E05253E1D8ED7" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.en-CA.js" />
                        </Component>
                        <Component Id="cmp7C9E5930F33FE0AA03899D2E67226BF2" Guid="*">
                            <File Id="fil90DAB81D18C72BE7C9894F7CB7CB6DB2" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.en-GB.js" />
                        </Component>
                        <Component Id="cmpB24703F9AE6434E37411211DF2EEAB7F" Guid="*">
                            <File Id="fil4B88A37B5C6F522DDD43804303C9DBE9" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.en-IE.js" />
                        </Component>
                        <Component Id="cmpB42160F575B00ECA3A7F92ED1F6486DF" Guid="*">
                            <File Id="filC041EC19E165D7C69A749A6D74AA2051" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.en-NZ.js" />
                        </Component>
                        <Component Id="cmpE89EAE03D12AC6B4B91684D5552C9E51" Guid="*">
                            <File Id="fil3433843C3C84493B9E972A6080D2D7C1" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.en-US.js" />
                        </Component>
                        <Component Id="cmpEA71E89E11E14692156D89D247F88669" Guid="*">
                            <File Id="filF6636BA109CCF60E52C2373CF1E3E3C8" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.en-ZA.js" />
                        </Component>
                        <Component Id="cmpDD17DA0095F1012D47682A4DABC1B95A" Guid="*">
                            <File Id="filA160DCB6860E9134B728CACA408C7B9C" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.eo.js" />
                        </Component>
                        <Component Id="cmpC9527FE18673E4A0F64AF9123472B233" Guid="*">
                            <File Id="filB3D97C8034F2D7E4F329F4FEC3DF00BE" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.es.js" />
                        </Component>
                        <Component Id="cmp293ED26AF3EFE63FBC01FA580EC5E75A" Guid="*">
                            <File Id="fil498FF4F040E9CB317E137B141E78BBDC" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.et.js" />
                        </Component>
                        <Component Id="cmp9C0953DDC8DFD6B2A13C39BFE1451D4F" Guid="*">
                            <File Id="fil43365C92344E8346363FB8AD319EF26D" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.eu.js" />
                        </Component>
                        <Component Id="cmpC2D49FEEF7A8807557F2FD576D9D6422" Guid="*">
                            <File Id="filE567001FA5C53F3CC8C1F742EFA0F216" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.fa.js" />
                        </Component>
                        <Component Id="cmp7E72E993C821BCC4C924292682D0A3A8" Guid="*">
                            <File Id="fil092EBB6E195DA996C5DAAD4AD31ACDBD" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.fi.js" />
                        </Component>
                        <Component Id="cmpE2EC25F91546A96D06EDEB12727750C8" Guid="*">
                            <File Id="filC0D2D4C6007D0859C18A53F797508E5B" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.fo.js" />
                        </Component>
                        <Component Id="cmp820F9288A7DB1DB0216D7F2F2FF5B057" Guid="*">
                            <File Id="fil2475EA7C2260A05CBC7A548ACAE4188C" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.fr-CH.js" />
                        </Component>
                        <Component Id="cmpE0A3167150A38096A272F6072293D890" Guid="*">
                            <File Id="filBDC06F4C8D6DEA817EEFBD16AA1F539A" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.fr.js" />
                        </Component>
                        <Component Id="cmpAA04335BEEE86FE3DB8F66BB36F2D0B7" Guid="*">
                            <File Id="fil50395C1FB1A5D07516BC1C4C72847F50" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.gl.js" />
                        </Component>
                        <Component Id="cmpE382CA018AE151433DDA96E9467AFC3D" Guid="*">
                            <File Id="fil9F7C0D8D80EDBFFE529BA63497ED720E" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.he.js" />
                        </Component>
                        <Component Id="cmpAC3AA640A205B4E7C6AD40019C9B9D44" Guid="*">
                            <File Id="fil64D0FDDF87E98F97B31C53E6B6E75BBD" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.hi.js" />
                        </Component>
                        <Component Id="cmpB34F165EE66EF0F5B0C58CEEE93A4D9F" Guid="*">
                            <File Id="fil66AB07070D9EA589AEDD831318BAE0A7" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.hr.js" />
                        </Component>
                        <Component Id="cmpC0278646D2437A2CC4D95268501FC2A5" Guid="*">
                            <File Id="fil21ED515847B329A12BC7A02E58DE3BD4" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.hu.js" />
                        </Component>
                        <Component Id="cmpE3D9DB9A616884633F61F4851A0E67E8" Guid="*">
                            <File Id="fil30A25E3F5DC6C3837B0566FB758D3112" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.hy.js" />
                        </Component>
                        <Component Id="cmp1A7B273B0E0FCDD39A7AFA05D89B0810" Guid="*">
                            <File Id="filFA46D4BAE69F4F7D805085E2E98E132C" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.id.js" />
                        </Component>
                        <Component Id="cmp817E0BD9CBB7194873B6510E6ECCAE08" Guid="*">
                            <File Id="fil8DF6F1071AB8BABEABE7BAA84ADCCA35" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.is.js" />
                        </Component>
                        <Component Id="cmp0B06AB52E6557F9C74868C5207C2E1BD" Guid="*">
                            <File Id="fil4697F5FEE35351EE7F285788D2A68811" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.it-CH.js" />
                        </Component>
                        <Component Id="cmp1960FAE7AD3FC8B979E4E00DB37DF3BE" Guid="*">
                            <File Id="fil70F4C030E818D899D88BF73E916B49FA" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.it.js" />
                        </Component>
                        <Component Id="cmp62FD46C36857CFA6CF4AEC589DFFF574" Guid="*">
                            <File Id="filD6C181BAD5C8AE40C9984ACF71A5476F" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.ja.js" />
                        </Component>
                        <Component Id="cmp4CE7B44F1C3DDD7DCC5E46D86B530E37" Guid="*">
                            <File Id="fil782DAE65A3E54CD8E4AC74206FE9E6CE" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.ka.js" />
                        </Component>
                        <Component Id="cmp49CF96E32D1FE897C784C678D56C53A3" Guid="*">
                            <File Id="filC9D6B673ABAB952F07363F4476B4131B" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.kh.js" />
                        </Component>
                        <Component Id="cmp800D6BB1C02CD9F6662FFF2546380CE8" Guid="*">
                            <File Id="filE795C9AF1E8377702110978D45C27E1E" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.kk.js" />
                        </Component>
                        <Component Id="cmp5BEA888AD7308D31873A68F7EEF09C83" Guid="*">
                            <File Id="fil5F910B31CD7EDD161E6589A4035B4C07" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.km.js" />
                        </Component>
                        <Component Id="cmp0E542456716F77E2174532D8A02A2547" Guid="*">
                            <File Id="fil527C13A971D3B5AAF862640290783F8C" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.ko.js" />
                        </Component>
                        <Component Id="cmp51B849D1F145C0D7E2F7D176B9C530FF" Guid="*">
                            <File Id="fil18B7A669F7CA6C59B2D43BDF216BFB46" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.kr.js" />
                        </Component>
                        <Component Id="cmpDBF8395364641650CF99336DBA9092A2" Guid="*">
                            <File Id="fil09B945334447D7A43C28051095589157" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.lt.js" />
                        </Component>
                        <Component Id="cmp31229CB12EE927A84B3C15D5C110D5EA" Guid="*">
                            <File Id="filD0A3852AC39BCD288C6F858AB162E185" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.lv.js" />
                        </Component>
                        <Component Id="cmpDFE0D04E2CBCA46E3B052D7EB98B2BC9" Guid="*">
                            <File Id="fil03870A1A5A409F03224CFE30F363B75F" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.me.js" />
                        </Component>
                        <Component Id="cmpCF39715FEAE0B0713A504C806E807797" Guid="*">
                            <File Id="filF1C14CB81D9366CE375EB95809C423E6" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.mk.js" />
                        </Component>
                        <Component Id="cmp361BA614FB4E1C9717080A7762689A51" Guid="*">
                            <File Id="fil6587D1488ECECA30318EC49EA304C455" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.mn.js" />
                        </Component>
                        <Component Id="cmp3DF477988BEFC0615C170F97FE427AB8" Guid="*">
                            <File Id="filB0E31F52E7764A450D8AB93576234E8A" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.mr.js" />
                        </Component>
                        <Component Id="cmp8AA8CCE9CD286503D45EBED576DF66B1" Guid="*">
                            <File Id="filE363E5E6823189EFA1D48E5AB18B414A" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.ms.js" />
                        </Component>
                        <Component Id="cmpBD3BA5CC0BF4C245E6E72663AB9BEB11" Guid="*">
                            <File Id="filFD9A43DB1AEB19B782809FC426CED25D" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.nl-BE.js" />
                        </Component>
                        <Component Id="cmp8F1120189CC52DA810B154DDF2DB8619" Guid="*">
                            <File Id="filA144AF4EA736C41EC760BBAE37E1B9F8" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.nl.js" />
                        </Component>
                        <Component Id="cmpB40670E070B8A9466534CECA7EC48681" Guid="*">
                            <File Id="fil07025111C930FECE652B7F6777DDE568" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.no.js" />
                        </Component>
                        <Component Id="cmp4948ADE3842478CEF8FFF743EC6EBF91" Guid="*">
                            <File Id="fil4EB4743B3E0DCE706C61C4E970B55524" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.oc.js" />
                        </Component>
                        <Component Id="cmp5A845CEEAFF3D22C954D1928E88075B5" Guid="*">
                            <File Id="fil005CBE0F9BEC2A9C1618C7A01724649C" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.pl.js" />
                        </Component>
                        <Component Id="cmpD27AAF9509530C2BCF28A211043BAD74" Guid="*">
                            <File Id="fil38DC328EA30F5198590E8E7CF5294241" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.pt-BR.js" />
                        </Component>
                        <Component Id="cmp7CB7CB6A6FDD83D7A3D6EF33E40B792E" Guid="*">
                            <File Id="fil4BD24EBD8134F8C6DFC079C25ED40EB9" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.pt.js" />
                        </Component>
                        <Component Id="cmp370727883E106292CE34F9094A6F5D21" Guid="*">
                            <File Id="filB12BACD094BD704B36DDD3C90E7B9542" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.ro.js" />
                        </Component>
                        <Component Id="cmp7C0FCB1CAD8A3F06447C252A121815E9" Guid="*">
                            <File Id="fil77266B88657072542D2B440A90D10A39" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.rs-latin.js" />
                        </Component>
                        <Component Id="cmpA8AD3FC2EEE9C6CAB7B76E9DF9B24CD0" Guid="*">
                            <File Id="fil65438F63958E1AA5FA9D25021BF9850E" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.rs.js" />
                        </Component>
                        <Component Id="cmp48D4FB499BF04CB5FB563A1DE08494B1" Guid="*">
                            <File Id="fil82095D8A917324DA03F2EE10EF48E67C" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.ru.js" />
                        </Component>
                        <Component Id="cmp4E3F8C44DBB55AD427CE614C22CF05A5" Guid="*">
                            <File Id="fil72A75F786B9A0AACA4CD99C7D2014A2D" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.si.js" />
                        </Component>
                        <Component Id="cmpE09D7115119087C994231530F9931ADE" Guid="*">
                            <File Id="filE0142A53DDB49823D69A953C76B1A7B5" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.sk.js" />
                        </Component>
                        <Component Id="cmpB55F504ED26FD2DDDFA24EED37BA5BF4" Guid="*">
                            <File Id="fil4AC8D051515F0A756A9F9925221BB5B6" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.sl.js" />
                        </Component>
                        <Component Id="cmp85C38E27E44C153B79BA0681D8E9B189" Guid="*">
                            <File Id="filE9122B789451AB2851D78F9EB3ACDC9D" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.sq.js" />
                        </Component>
                        <Component Id="cmpC7F2B7585B7C1FCA39341570C6540EB4" Guid="*">
                            <File Id="filD7BB27E49CDC98015A84262F06B0CEEB" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.sr-latin.js" />
                        </Component>
                        <Component Id="cmp41CB0E4929C0B9384DB37BF3C2C9AA23" Guid="*">
                            <File Id="fil997408E27B8D31077E046CF03C9DB544" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.sr.js" />
                        </Component>
                        <Component Id="cmp5A236F7FB45F8D8CF4206598A6D01322" Guid="*">
                            <File Id="filF5746F748FA05C668AB69CC26919B17C" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.sv.js" />
                        </Component>
                        <Component Id="cmp1E2D87B33D6B31CA7EA50966BC82B9A6" Guid="*">
                            <File Id="fil89E204091F52C2470566A7B22E031E58" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.sw.js" />
                        </Component>
                        <Component Id="cmp759B00B001A22E11548EE02F6CF67805" Guid="*">
                            <File Id="fil5D53F36F881DB13E56F215C7F4CC435F" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.ta.js" />
                        </Component>
                        <Component Id="cmp17CE3DE61F233C7D381367B398B07CCC" Guid="*">
                            <File Id="filFA6C3F202BD6514B9A9B8D11B012F6FE" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.tg.js" />
                        </Component>
                        <Component Id="cmp221BC3D10DFF5AAD9ED04E2F14192CF3" Guid="*">
                            <File Id="filC3920E4F1053BF0DE73E1EE829816FFF" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.th.js" />
                        </Component>
                        <Component Id="cmp12EB46FC8490DFF11032184589510CC1" Guid="*">
                            <File Id="fil8C234E00B6FF65C93B94B733DB80DC7D" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.tk.js" />
                        </Component>
                        <Component Id="cmp19D828E2FC0D8DEEF1FA7120260870AA" Guid="*">
                            <File Id="fil1BBBEEF704C45A9A5A368AE5C196125B" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.tr.js" />
                        </Component>
                        <Component Id="cmpD3EBF4661BF4FE76554078789C7BDA6C" Guid="*">
                            <File Id="filD24243058B3B048034DB42E3D9D7DE28" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.uk.js" />
                        </Component>
                        <Component Id="cmp32A70AC8A55AD2C88EDCB8D4AE62D05B" Guid="*">
                            <File Id="fil0F4B7AE2E7AC295DB6A6767309BFF709" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.uz-cyrl.js" />
                        </Component>
                        <Component Id="cmp0D3CA8861F712EF67FC24F7A1788D29A" Guid="*">
                            <File Id="fil7303088993FF6086A7CE35E485F78315" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.uz-latn.js" />
                        </Component>
                        <Component Id="cmp4920FC0DA1962CD36AB1EC75EAA995C1" Guid="*">
                            <File Id="fil72BF47BFB6B258BF429B4EC28FCD8DA5" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.vi.js" />
                        </Component>
                        <Component Id="cmpF62FBB4D4AB21A52B0A6DD822BBDE259" Guid="*">
                            <File Id="filC04688B15F102E140FA5717C035BB5D7" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.zh-CN.js" />
                        </Component>
                        <Component Id="cmpE9A25B007AF5239241588D919D56E687" Guid="*">
                            <File Id="fil8171B0E91DE9032CE4B202A891497510" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\bootstrap_datepicker\locales\bootstrap-datepicker.zh-TW.js" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir45706C920D8214B8DCD918477FA9EB7C" Name="client2">
                    <Component Id="cmp80AC69A7314172BAD76B83252CF49982" Guid="*">
                        <File Id="fil0E71351C20E93641974F69EC56A555A8" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\client2\common.js.map" />
                    </Component>
                    <Component Id="cmp69C2F9B0189F1FFCE216E81FF0EDA755" Guid="*">
                        <File Id="filD731A53FE00B69161AAB782D97058CC0" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\client2\default~md-explorer-md-explorer-module~projects-projects-module.js.map" />
                    </Component>
                </Directory>
                <Directory Id="dirC889797551430ED18E1D001088BECDA8" Name="jquery_ui">
                    <Component Id="cmpC0B5D66D20EE86E2F02E7C57B52AF598" Guid="*">
                        <File Id="fil9C34055E59A03F017C9D5388A3EC90BB" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\jquery_ui\jquery-ui.structure.min.css" />
                    </Component>
                    <Component Id="cmp2D5F5F8415B1CB63DEDEFD8AAC7C6DA9" Guid="*">
                        <File Id="filB7448804E3C3F33EA104C3B6F55BDA41" KeyPath="yes" Source="$(var.HarvestPath)\wwwroot\jquery_ui\jquery-ui.theme.min.css" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated">
            <ComponentRef Id="cmpF17944185780ADFE036E272DA1E890A5" />
            <ComponentRef Id="cmp53279A98F864C074DC9B130B941D4F55" />
            <ComponentRef Id="cmp9C00A521627877E6D767443FDCE9AA53" />
            <ComponentRef Id="cmpA0863526952F7834E7C922F065E4C8A8" />
            <ComponentRef Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" />
            <ComponentRef Id="cmp3F1A8ED120366E8991F256C74C5C6361" />
            <ComponentRef Id="cmpCF90702DB6BD5D0BCBE864804278C36B" />
            <ComponentRef Id="cmp4F241916C32EC6A1E970595E25671525" />
            <ComponentRef Id="cmp38BBDC48CA4A8A258B36C6163AFFF796" />
            <ComponentRef Id="cmpD238E089839EB6449C051D7E7CEE972F" />
            <ComponentRef Id="cmpCB91023A7FED7925C79109BD3B8D51F5" />
            <ComponentRef Id="cmp548E1D149E3735784000308E747E507F" />
            <ComponentRef Id="cmpD71BBAC84D48FE0434198573578E243E" />
            <ComponentRef Id="cmpB139B49DF4DF8F44C525B449EA8187F7" />
            <ComponentRef Id="cmp76FA3D9BAF4EB6F6349CF163E7D572E3" />
            <ComponentRef Id="cmp2B811053B5AE4B88DEFFD5B5A76B4D07" />
            <ComponentRef Id="cmpCFC07250170E75B593412650F8C5C349" />
            <ComponentRef Id="cmp6024709601757BCCAD7691A230EFFD3F" />
            <ComponentRef Id="cmp44FF64DDE6E9C9E771266002FD0AF841" />
            <ComponentRef Id="cmpA964A847AD6177F00FFB96B8E1AFD3DE" />
            <ComponentRef Id="cmpFFC59F91BA2A40263777A08887C4DE28" />
            <ComponentRef Id="cmp419937E1F1A4AD6EBAD761C73BBB9BBB" />
            <ComponentRef Id="cmpBE3CE7E96B2456821FF2FFE3ECF8E561" />
            <ComponentRef Id="cmpC97E830794BEEB3D44C72280C3895AB1" />
            <ComponentRef Id="cmpE0C2BDEC541FAF8309914CE1CD170B66" />
            <ComponentRef Id="cmp3364EB13B9679EA18EDFF2F5644BF597" />
            <ComponentRef Id="cmpF1CFB70E3B005F98FF63B67A795EFEDD" />
            <ComponentRef Id="cmp5F0315EC9318F895F1C69AADD6AEEDCF" />
            <ComponentRef Id="cmp336BF8B3ED276F8A9062A1E8CB2D8E43" />
            <ComponentRef Id="cmpEFF9F1E875BF6E848A4A965734BFAC4B" />
            <ComponentRef Id="cmp73E87678832BDCC67A6071149899D291" />
            <ComponentRef Id="cmp670A53C4BB92522E9197C39F2737FDD0" />
            <ComponentRef Id="cmp82CAE7B335B9F599FEE57577F9A372EF" />
            <ComponentRef Id="cmp810D1EFFDA7DD88C8E90E1542AA6BAE2" />
            <ComponentRef Id="cmp636FC9E2EF47D47393943C950A17662A" />
            <ComponentRef Id="cmpFCE45893961C3B556093A13244DCAD25" />
            <ComponentRef Id="cmp605D6B6C48C394E4DB168D3F2B5E64B9" />
            <ComponentRef Id="cmp407AC30A654585533F0D394AFDD4AB4B" />
            <ComponentRef Id="cmpA858F3E28742D18DE380C66A7FAD3FA5" />
            <ComponentRef Id="cmp7E506DB75C10A260015520DD99B7EB7E" />
            <ComponentRef Id="cmp6FCD019A8D53BDACC4495018A02376F3" />
            <ComponentRef Id="cmp459B7DD14921AC5829974F4C859D2214" />
            <ComponentRef Id="cmpD97C068A5768DEC983EA9FDBEF4DDDEF" />
            <ComponentRef Id="cmp4369B8D0AFBD7F73998E58276F4A68B9" />
            <ComponentRef Id="cmpC1671F9D210FA71E2A7509FCAE5F1C0A" />
            <ComponentRef Id="cmpC3837B1BBDE21B30686E088D1C2CAE18" />
            <ComponentRef Id="cmp5ED1CD8E41E4D80454EAE105897331B8" />
            <ComponentRef Id="cmpEC678DED6E8FAD7BDEFD8FAEF3DA3AE9" />
            <ComponentRef Id="cmp8853C1DD9B85957A8B8527EB369FA936" />
            <ComponentRef Id="cmp893D9F1E8CF2DA7D15E3B17502AA1115" />
            <ComponentRef Id="cmpAB39DC019BCEB121545396D46A90DCC3" />
            <ComponentRef Id="cmp7332CB96E66C7CD07CDFA8226579D819" />
            <ComponentRef Id="cmp3F2E14BF3858452E94EF0FD35144FC48" />
            <ComponentRef Id="cmpCC32EEBEEC9F81A11DC0295DB730C92F" />
            <ComponentRef Id="cmp4E2ACCBE2340727B58445C19184AA575" />
            <ComponentRef Id="cmpD1EE69F443E95B1E01255C602E6A94C7" />
            <ComponentRef Id="cmpD10D121F83E58BE0D45C6566CBCAA954" />
            <ComponentRef Id="cmpCA43DC4AF1DE16E3FACAD1CBC32EA5D3" />
            <ComponentRef Id="cmp7C9E5930F33FE0AA03899D2E67226BF2" />
            <ComponentRef Id="cmpB24703F9AE6434E37411211DF2EEAB7F" />
            <ComponentRef Id="cmpB42160F575B00ECA3A7F92ED1F6486DF" />
            <ComponentRef Id="cmpE89EAE03D12AC6B4B91684D5552C9E51" />
            <ComponentRef Id="cmpEA71E89E11E14692156D89D247F88669" />
            <ComponentRef Id="cmpDD17DA0095F1012D47682A4DABC1B95A" />
            <ComponentRef Id="cmpC9527FE18673E4A0F64AF9123472B233" />
            <ComponentRef Id="cmp293ED26AF3EFE63FBC01FA580EC5E75A" />
            <ComponentRef Id="cmp9C0953DDC8DFD6B2A13C39BFE1451D4F" />
            <ComponentRef Id="cmpC2D49FEEF7A8807557F2FD576D9D6422" />
            <ComponentRef Id="cmp7E72E993C821BCC4C924292682D0A3A8" />
            <ComponentRef Id="cmpE2EC25F91546A96D06EDEB12727750C8" />
            <ComponentRef Id="cmp820F9288A7DB1DB0216D7F2F2FF5B057" />
            <ComponentRef Id="cmpE0A3167150A38096A272F6072293D890" />
            <ComponentRef Id="cmpAA04335BEEE86FE3DB8F66BB36F2D0B7" />
            <ComponentRef Id="cmpE382CA018AE151433DDA96E9467AFC3D" />
            <ComponentRef Id="cmpAC3AA640A205B4E7C6AD40019C9B9D44" />
            <ComponentRef Id="cmpB34F165EE66EF0F5B0C58CEEE93A4D9F" />
            <ComponentRef Id="cmpC0278646D2437A2CC4D95268501FC2A5" />
            <ComponentRef Id="cmpE3D9DB9A616884633F61F4851A0E67E8" />
            <ComponentRef Id="cmp1A7B273B0E0FCDD39A7AFA05D89B0810" />
            <ComponentRef Id="cmp817E0BD9CBB7194873B6510E6ECCAE08" />
            <ComponentRef Id="cmp0B06AB52E6557F9C74868C5207C2E1BD" />
            <ComponentRef Id="cmp1960FAE7AD3FC8B979E4E00DB37DF3BE" />
            <ComponentRef Id="cmp62FD46C36857CFA6CF4AEC589DFFF574" />
            <ComponentRef Id="cmp4CE7B44F1C3DDD7DCC5E46D86B530E37" />
            <ComponentRef Id="cmp49CF96E32D1FE897C784C678D56C53A3" />
            <ComponentRef Id="cmp800D6BB1C02CD9F6662FFF2546380CE8" />
            <ComponentRef Id="cmp5BEA888AD7308D31873A68F7EEF09C83" />
            <ComponentRef Id="cmp0E542456716F77E2174532D8A02A2547" />
            <ComponentRef Id="cmp51B849D1F145C0D7E2F7D176B9C530FF" />
            <ComponentRef Id="cmpDBF8395364641650CF99336DBA9092A2" />
            <ComponentRef Id="cmp31229CB12EE927A84B3C15D5C110D5EA" />
            <ComponentRef Id="cmpDFE0D04E2CBCA46E3B052D7EB98B2BC9" />
            <ComponentRef Id="cmpCF39715FEAE0B0713A504C806E807797" />
            <ComponentRef Id="cmp361BA614FB4E1C9717080A7762689A51" />
            <ComponentRef Id="cmp3DF477988BEFC0615C170F97FE427AB8" />
            <ComponentRef Id="cmp8AA8CCE9CD286503D45EBED576DF66B1" />
            <ComponentRef Id="cmpBD3BA5CC0BF4C245E6E72663AB9BEB11" />
            <ComponentRef Id="cmp8F1120189CC52DA810B154DDF2DB8619" />
            <ComponentRef Id="cmpB40670E070B8A9466534CECA7EC48681" />
            <ComponentRef Id="cmp4948ADE3842478CEF8FFF743EC6EBF91" />
            <ComponentRef Id="cmp5A845CEEAFF3D22C954D1928E88075B5" />
            <ComponentRef Id="cmpD27AAF9509530C2BCF28A211043BAD74" />
            <ComponentRef Id="cmp7CB7CB6A6FDD83D7A3D6EF33E40B792E" />
            <ComponentRef Id="cmp370727883E106292CE34F9094A6F5D21" />
            <ComponentRef Id="cmp7C0FCB1CAD8A3F06447C252A121815E9" />
            <ComponentRef Id="cmpA8AD3FC2EEE9C6CAB7B76E9DF9B24CD0" />
            <ComponentRef Id="cmp48D4FB499BF04CB5FB563A1DE08494B1" />
            <ComponentRef Id="cmp4E3F8C44DBB55AD427CE614C22CF05A5" />
            <ComponentRef Id="cmpE09D7115119087C994231530F9931ADE" />
            <ComponentRef Id="cmpB55F504ED26FD2DDDFA24EED37BA5BF4" />
            <ComponentRef Id="cmp85C38E27E44C153B79BA0681D8E9B189" />
            <ComponentRef Id="cmpC7F2B7585B7C1FCA39341570C6540EB4" />
            <ComponentRef Id="cmp41CB0E4929C0B9384DB37BF3C2C9AA23" />
            <ComponentRef Id="cmp5A236F7FB45F8D8CF4206598A6D01322" />
            <ComponentRef Id="cmp1E2D87B33D6B31CA7EA50966BC82B9A6" />
            <ComponentRef Id="cmp759B00B001A22E11548EE02F6CF67805" />
            <ComponentRef Id="cmp17CE3DE61F233C7D381367B398B07CCC" />
            <ComponentRef Id="cmp221BC3D10DFF5AAD9ED04E2F14192CF3" />
            <ComponentRef Id="cmp12EB46FC8490DFF11032184589510CC1" />
            <ComponentRef Id="cmp19D828E2FC0D8DEEF1FA7120260870AA" />
            <ComponentRef Id="cmpD3EBF4661BF4FE76554078789C7BDA6C" />
            <ComponentRef Id="cmp32A70AC8A55AD2C88EDCB8D4AE62D05B" />
            <ComponentRef Id="cmp0D3CA8861F712EF67FC24F7A1788D29A" />
            <ComponentRef Id="cmp4920FC0DA1962CD36AB1EC75EAA995C1" />
            <ComponentRef Id="cmpF62FBB4D4AB21A52B0A6DD822BBDE259" />
            <ComponentRef Id="cmpE9A25B007AF5239241588D919D56E687" />
            <ComponentRef Id="cmp80AC69A7314172BAD76B83252CF49982" />
            <ComponentRef Id="cmp69C2F9B0189F1FFCE216E81FF0EDA755" />
            <ComponentRef Id="cmpC0B5D66D20EE86E2F02E7C57B52AF598" />
            <ComponentRef Id="cmp2D5F5F8415B1CB63DEDEFD8AAC7C6DA9" />
        </ComponentGroup>
    </Fragment>
</Wix>