<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  
  <Product Id="*" Name="MdExplorer" Language="1033" Version="1.0.0" Manufacturer="Advice" UpgradeCode="8c305313-4d21-4e33-ad3a-a4c68e702d07">
    <Package Description="Markdown Explorer Installer" Compressed="yes"/>
    <MediaTemplate EmbedCab="yes"/>

    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUIBannerBmp" Value="assets/Advice.png" />
    <WixVariable Id="WixUIDialogBmp" Value="assets/MdExplorer1.png" />
    <WixVariable Id="WixUILicenseRtf" Value="assets/LicenseAgreement.rtf" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="*">
          <Shortcut Id="ApplicationDesktopShortcut"
              Name="MdExplorer"
              Description="Markdown viewer"
              Target="[INSTALLFOLDER]MdExplorer.Service.exe"
              WorkingDirectory="INSTALLFOLDER"/>
          <RemoveFolder Id="DesktopFolder" On="uninstall"/>
          <RegistryValue
              Root="HKCU"
              Key="Software\Advice\MdExplorer"
              Name="installed"
              Type="integer"
              Value="1"
              KeyPath="yes"/>
        </Component>
      </Directory>
      
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MdExplorer" />
      </Directory>
    </Directory>   

    <Feature Id="MainFeature" Title="MdExplorerFolder" Level="1">
      <ComponentGroupRef Id="HeatGenerated" />
    </Feature>
  
  </Product>

</Wix>
