
<h1 style="display:inline;" mat-dialog-title>
  <img style="display:inline; vertical-align:middle" src="/assets/gitlogo.png" />
  <span>Authentication info</span>
</h1>

<mat-dialog-content>
  <mat-card style="margin-top:10px; margin-bottom:10px">
    <div class="vertical-form-container">            
      <mat-form-field appearance="outline">
        <mat-label>UserName</mat-label>
        <input matInput [(ngModel)]="dataForCloning.userName" placeholder="username" required>
        <mat-hint>Username</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="dataForCloning.password" placeholder="password"
               [type]="hide ? 'password' : 'text'" required>
        <mat-icon style="cursor:pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint *ngIf="!dataForCloning.password">Enter your password</mat-hint>
      </mat-form-field>
      <section class="store-credential">
        <mat-checkbox [(ngModel)]="dataForCloning.storeCredentials">Store credentials</mat-checkbox>
      </section>
    </div>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="useCredentials()" color="primary">Save</button>
</mat-dialog-actions>
