<mat-dialog-content>
  <div *ngIf="!consoleIsClosed">
      <img style="left:0px; right:0px; margin-left:auto;width:500px; margin-right:auto" src="/assets/ConnectionLost.png" />
  </div>
  <div *ngIf="consoleIsClosed">
    <h1>{{ 'SIGNALR.SERVER_DOWN' | translate }}</h1>
    {{ 'SIGNALR.CLOSE_TAB' | translate }}
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="!consoleIsClosed" mat-button color="primary" (click)="refresh()">
    <mat-icon>refresh</mat-icon>{{ 'SIGNALR.RELINK' | translate }}
  </button>
</mat-dialog-actions>
