<mat-toolbar color="primary">
  <button mat-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button (click)="OpenEditor()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-button (click)="Export()">
    <mat-icon>directions</mat-icon>
  </button>
  <button mat-button (click)="openRefactoring()">
    <mat-icon>rule</mat-icon>
  </button>
  <button mat-button (click)="ExportEmail()">
    <mat-icon>email</mat-icon>
  </button>
  <span>{{TitleToShow}}</span>
  <div align="right">
    <button mat-button (click)="openDialog()">
      <mat-icon>settings</mat-icon>
    </button>
  </div>



</mat-toolbar>
