<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav.emit()">
    <mat-icon>vertical_split</mat-icon>
  </button>
  <button mat-icon-button (click)="OpenEditor()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button (click)="Export()">
    <mat-icon>directions</mat-icon>
  </button>
  <button mat-icon-button (click)="openDialog()">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button (click)="openRefactoring()">
    <mat-icon>rule</mat-icon>
  </button>
  <span *ngFor="let doc of navigationArray"><span *ngIf="navigationArray.indexOf(doc)>0">>></span><a [ngStyle]=" navigationArray.indexOf(doc)<navigationArray.length-1 ? {'cursor':'pointer', 'color':'orange'}:{}" (click)="navigationArray.indexOf(doc)<navigationArray.length-1 ? backToDocument(doc):return;" >{{doc.name}}</a></span>

</mat-toolbar>
