<router-outlet name="openrecent"></router-outlet>

<div class="container-flex">
  <div class="container-title">
    <div class="item">
      <h1><strong>Markdown Explorer</strong></h1>
    </div>
  </div>
  <div class="container-columns">
    <h1>Open recent</h1>
    <h1>Get started</h1>
  </div>
  <div class="container-columns">
    <div class="container-first-column">
      
      <mat-card *ngFor="let element of dataSource | async">
        <mat-card-title>{{element.name}}</mat-card-title>
        <mat-card-subtitle>{{element.path}}</mat-card-subtitle>
        <mat-card-actions>
          <button mat-stroked-button color="accent" [mat-dialog-close] (click)="quickOpenNotes(element.path)">
            <img src="/assets/run.png" />
            Quick notes
          </button>
          <button mat-stroked-button color="primary" [mat-dialog-close] (click)="openNewProject(element.path)">Open</button>
          <button mat-raised-button color="warn" (click)="deleteProject(element)"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      
      <mat-card>
        <mat-card-title>Clone a repository</mat-card-title>
        <mat-card-subtitle>Get code from an online repository like GitLab</mat-card-subtitle>
        <mat-card-actions>
          <button mat-stroked-button color="primary">Clone</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-title>Create new project</mat-card-title>
        <mat-card-subtitle>Choose filesystem folder to get started</mat-card-subtitle>
        <mat-card-actions>
          <button mat-stroked-button color="primary" (click)="openNewFolder()">Create</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

</div>




<!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z3">-->
<!-- Name Column -->
<!--<ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.path}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>-->
