:host {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  border: 1px solid black;
}


.hideToolbar {
  height: 0px;
  transition: height 300ms ease-out;
}

.hideToolbarNone {
  display: none;
}
